<div class="" style="width:400px ; background: yellow">
  <div>detail</div>
  <img src="{{selectedRecipe?.imageurl}}"  >

  <div >{{selectedRecipe?.name}}</div>
  <div >{{selectedRecipe?.description}}</div>
  <!--<div>{{recipe.imageurl}}</div>-->

</div>
<!--<div class="" style="width:200px ;height: 50px; background: green">-->
  <!--<div style="float: left">{{selectedRecipe?.name}}</div>-->
  <!--<div style="float: left">{{selectedRecipe?.description}}</div>-->
  <!--&lt;!&ndash;<div>{{recipe.imageurl}}</div>&ndash;&gt;-->
  <!--<img src="{{selectedRecipe?.imageurl}}"  style="width: 50px;height: 50px ;float: right" alt="">-->

<!--</div>-->
